footer {
  background-color: $dark_text;
  min-height: 10vh;
  color: white;
}
.wrapper {
  width: 95%;
  min-height: inherit;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    flex: 2 1 20rem;
    font-style: italic;
    font-size: $text;
  }
  .social {
    flex: 1 1 20rem;
    display: flex;
    justify-content: space-between;
    a {
      flex: 1 1 10rem;
      text-align: center;
    }
  }
}
.fab {
  color: white;
  font-size: 5rem;
}

@media screen and (min-width: 2000px) {
  .wrapper h2 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 420px) {
  .wrapper h2 {
    font-size: 1.5rem;
  }
  .fab {
    font-size: 3rem;
  }
}
