header {
  width: 95%;
  min-height: 10vh;
  margin-left: auto;
}
.nav-bar {
  @include flex(flex-start, center, row);
  width: 60%;
  padding: 2rem 0;
  margin-bottom: 2rem;
}
.logo {
  flex: 1 1 10rem;
  @include flex(flex-start, center, row);
  font-size: 2.5rem;
  margin-bottom: 2rem;
  h1 {
    font-style: italic;
    letter-spacing: 0.2rem;
  }
}
.fas {
  font-size: 4rem;
  color: white;
  background-color: $dark_text;
  border-radius: 40px;
  padding: 1.4rem;
  margin-right: 1rem;
}

.menu {
  flex: 2 1 10rem;
  @include flex(space-between, center, row);
  font-size: $text;
  margin-bottom: 2rem;
  li {
    flex: 1 1 5rem;
    text-align: center;
    padding: 1rem 0;
    border-radius: 2rem;
  }
}
.active {
  background-color: $dark_text;
  a {
    color: white;
  }
}
#last {
  margin-right: 2rem;
}
@media screen and (max-width: 1800px) {
  .menu {
    font-size: 3rem;
  }
}
@media screen and (max-width: 1400px) {
  .nav-bar {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .logo {
    .fas {
      font-size: 3rem;
    }
    h1 {
      font-size: 2rem;
    }
  }
  .menu {
    font-size: 2rem;
  }
}
@media screen and (max-width: 640px) {
  .nav-bar {
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  .fas {
    font-size: 2rem;
  }
  .menu {
    max-height: 6vh;
    width: 100%;
  }
  .logo {
    max-height: 8vh;
  }
}
